<template>
  <div class="container my-5">
    <div class="row">
      <div class="col-md-5">
        <div class="card shadow">
          <div class="card-header">
            <img src="https://images.pexels.com/photos/19107293/pexels-photo-19107293.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
          </div>
          <div class="card-body">
            <h5 class="card-title">
              เกี่ยวกับเรา
            </h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum odit facere sequi provident? Ullam, et?
            </p>
            <a href="#" class="btn btn-primary btn-sm">Read more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>

</script>

<style scoped>

</style>