<script setup>
import { toast } from 'vue3-toastify';
import 'vue3-toastify/dist/index.css';

toast.success("ยินด้วยรับเข้าสู่งเว็บไซค์",{
  autoClose:1500,
  position:toast.POSITION.TOP_CENTER
})
</script>

<template>
  <div class="container my-5">
    <div class="row">
      <div class="col-md-5">
        <div class="card shadow">
          <div class="card-header p-0">
            <img src="https://images.pexels.com/photos/10261197/pexels-photo-10261197.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
          </div>
          <div class="card-body">
            <h5 class="card-title">
              หน้าแรก
            </h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum odit facere sequi provident? Ullam, et?
            </p>
            <a href="#" class="btn btn-primary btn-sm">Read more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>


</style>

