<script setup>
import { RouterView } from 'vue-router';
import { useHead } from '@unhead/vue'
import { reactive, computed } from 'vue';

const siteData = reactive({
  title: 'สาขาเทคโนโลยีสารสนเทศ',
  description:'สาขาเทคโนโลยีสารสนเทศ วิทยาลัยเทคนิคตราด'
})

useHead({
  title: computed(()=>siteData.title),
  meta: [
    {
      name: 'สาขาเทคโนโลยีสารสนเทศ',
      content:computed(()=> siteData.description)
    }
  ]
})

</script>

<template>
<router-view />
</template>

<style scoped>

</style>